.jumbotron{
  height:100vh;
  width:100vw;
  background:url("http://i.imgur.com/2ZipJVs.jpg?1") no-repeat;
  margin:0 auto;
  padding:0;
}


.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  /* border-top: 1px solid #ddd; */
}
