body {
  background-color: white;
}

.container {
  margin-top:100px;
}

.notifications {
 margin-top: 100px;
  color: #A93619;
  height:700px;
  font-family:'Raleway', sans-serif;
}

h1 {
   padding-bottom:30px;
  text-align:center;
}

th {
  text-align: center;
  margin-right: 100px;
  border: none;
  outline: none;
  border-style: none;
}



.table {
  text-align: center;
  border: none;
  border-collapse: collapse;
  border-style: none;
  cursor: pointer;
}
