body {
  background-color: #A93619;
  color: white;
}

.usersdiv{
  margin-top: 100px;
  background-color:white;
  color: #A93619;
  height:700px;
  font-family:'Raleway', sans-serif;
}

h1 {
  padding-bottom:30px;
  text-align:center;
}

.table {
  text-align: center;
  border: none;
  border-collapse: collapse;
  border-style: none;
  cursor: pointer;
}

table {
  border: none;
  border-collapse: collapse;
  border-style: none;
}

th {
  text-align: center;
  margin-right: 100px;
  border: none;
  outline: none;
  border-style: none;
  font-size:19px;
  font-weight:bold;
  width:100px;
}

tr {
  border-style: none;
}




