<!DOCTYPE html>
<html class="home">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>


  <!--navbar-->
<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="http://i.imgur.com/9rpOGvc.png?1" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Staff</a>
          <ul class="submenu">
            <li><a href="#/users">All Users</a></li>
            <li><a href="#/notifications">Notifications</a></li>
          </ul>
        </li>
        <li class="nav-link logo">
          <a href="javascript:void(0)" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link" ng-hide="authCtrl.isLoggedIn()"><a href="#/login">Login</a></li>
        <li class="nav-link" ng-show="authCtrl.isLoggedIn()" ng-click="authCtrl.logOut()"><a href="#/logout">Logout</a></li>
        <li class="nav-link"><a href="#/registration">Register</a></li>
      </ul>
    </nav>
  </div>
</header>

<!--hero-->
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1 class="hero-title">WELCOME TO BRIEF</h1>
      <p>A project management app for clinical researchers</p>
    </div>
  </div>
</div>


<!--Bullet Title-->
<!-- <h1 class="featuresbullet">FEATURES</h1>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>This Bullet Title</h2>
      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Another Bullet Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Last Bullet Title</h2>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
    </div>
  </li> -->
<!-- </ul>
 -->


<!-- hover animation -->
<div id="alltiles"
  <div class="hover-tile-outer firstimg">
    <div class="hover-tile-container firstimg">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <!-- <h4>What do we do?</h4> -->
        <h4>Add visits to your visit calendar</h4>
      </div>
    </div>
  </div>

  <div class="hover-tile-outer secondimg">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <h4>Keep connected with doctors through real-time alerts</h4>
        <!-- <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p> -->
      </div>
    </div>
  </div>

  <div class="hover-tile-outer thirdimg">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <h4>View other coordinators schedules</h4>
       <!--  <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p> -->
      </div>
    </div>
  </div>
</div>


<!-- Sideimage -->

<!-- <div id="maintitle"><h1 >Brief</h1></div>
 -->
<!--  <div id="mainpage" class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>Topic Name</h4>
      <h1>Message with a gradient image</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
  </div>
</div> -->

<!--footer-->

<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Copyright Nawal Ali</p>
</footer>

</body>
</html>
