<!DOCTYPE html>
<html class="home">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>

   <!--navbar-->
<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="http://i.imgur.com/9rpOGvc.png?1" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="#/">About Us</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Staff</a>
          <ul class="submenu">
            <li><a href="#/users">All Users</a></li>
            <li><a href="#/notifications">Notifications</a></li>
          </ul>
        </li>
        <li class="nav-link logo">
          <a href="javascript:void(0)" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link" ng-hide="authCtrl.isLoggedIn()"><a href="#/login">Login</a></li>
        <li class="nav-link" ng-show="authCtrl.isLoggedIn()" ng-click="authCtrl.logOut()"><a href="#/logout">Logout</a></li>
        <li class="nav-link"><a href="#/signup">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">

<h2 id="login">Login</h2>
<div class="login">
  <form>
    <labels>Email <input type="email" ng-model="authCtrl.credentials.email"/></labels>
    <labels>Password <input type="password" ng-model="authCtrl.credentials.password"/></labels>

    <button ng-click="authCtrl.login()">Login</button>
  </form>
</div>
</div>

</body>
</html>
