<!DOCTYPE html>
<html class="home">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
   <link rel="stylesheet" href="app/css/animate.min.css" type="text/css">
   <link rel="stylesheet" href="app/css/login.css" type="text/css">
</head>
<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">Brief</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container loginbox">
    <h2 id="login">Login</h2> </br>
    <div class="login">
      <form>
        Email </br>
        <labels><input type="email" ng-model="authCtrl.credentials.email"/></labels> </br></br>
        Password </br>
        <labels><input type="password" ng-model="authCtrl.credentials.password"/></labels>
        </br></br>
        <button class="signin-button" ng-click="authCtrl.login()">Sign in</button>
        </br></br>
        <a class="page-scroll" href="#/registration">Sign Up</a>
      </form>
    </div>
  </div>

</body>
</html>
