




<!DOCTYPE html>
<html class="home">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>

 <!--navbar-->
<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="http://i.imgur.com/9rpOGvc.png?1" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Staff</a>
          <ul class="submenu">
            <li><a href="#/users">All Users</a></li>
            <li><a href="#/notifications">Notifications</a></li>
          </ul>
        </li>
        <li class="nav-link logo">
          <a href="javascript:void(0)" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link" ng-hide="authCtrl.isLoggedIn()"><a href="#/login">Logout</a></li>
        <li class="nav-link" ng-show="authCtrl.isLoggedIn()" ng-click="authCtrl.logOut()"><a href="#/logout">Logout</a></li>

      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <h1>Notifications</h1>
    <table>
      <tr>
        <th>Responded</th>
        <th>Message</th>
        <th>Visit</th>
        <th>Priority</th>
      </tr>
      <tr ng-repeat="notification in notificationsCtrl.notifications">
        <td>{{notification.responded}}</td>
        <td>{{notification.message}}</td>
        <td>{{notification.visit_id}}</td>
        <td>{{notification.priority}}</td>
      </tr>
    </table>
    </div>
  </body>
</html>
