<!DOCTYPE html>
<html class="home">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link rel="stylesheet" href="app/css/animate.min.css" type="text/css">

    <link rel="stylesheet" href="app/css/user.css" type="text/css">
</head>
  <body>

<!--navbar-->
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Brief</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/users">Users</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/notifications">Notifications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>
