<!DOCTYPE html>
<html class="home">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <link rel="stylesheet" href="app/css/animate.min.css" type="text/css">

    <link rel="stylesheet" href="app/css/visits.css" type="text/css">
</head>
<body>

<!--navbar-->
 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Brief</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/users">Users</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/notifications">Notifications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#/logout">Logout</a>
                    </li>
                   <!--  <li>
                        <a class="page-scroll" href="#/registration">Registration</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
<!--actual code-->


<div class="container visits">
  <div class="row">

 <h1>All Visits</h1>
  <table>
    <tr>
      <th ng-click="visitsCtrl.doSort('start_of_visit')">Start Date</th>
      <th ng-click="visitsCtrl.doSort('end_of_visit')">End Date</th>
      <th ng-click="visitsCtrl.doSort('protocol')">Protocol Title</th>
      <th ng-click="visitsCtrl.doSort('subject_id')"> Subject ID</th>
      <th ng-click="visitsCtrl.doSort('reason_for_visit')">Visit Reason</th>
    <!--   <th ng-click="visitsCtrl.doSort('message')">Message</th> -->
      <th ng-click="visitsCtrl.doSort('priority')">Priority </th>
      <th ng-click="notificationsCtrl.showNotification(visit.id)">Notification</th>

      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="visit in visitsCtrl.visits | filter:visitFilter | orderBy:visitsCtrl.sortBy:visitsCtrl.reverse">
      <td>{{visit.start_of_visit}}</td>
      <td>{{visit.end_of_visit}}</td>
      <td>{{visit.protocol}}</td>
      <td>{{visit.subject_id}}</td>
      <td>{{visit.reason_for_visit}}</td>
      <!-- <td>{{visit.message}}</td> -->
      <td>{{visit.priority}}</td>
      <td>{{visit.notifications[0].message}}</td>
      <td><button ng-click="visitsCtrl.deleteVisit(visit.id)">Delete</button></td>
    </tr>
  </table>
  <br/>
<!--   <span>Total users: {{usersCtrl.users.length}}</span> -->
  <br/>
  <br/>

  </div>

<!-- CREATING NEW VISIT -->

<div id="newvisit" class="row col-xs-2">
<h1>New Visit</h1>
<form>
  Start Date
  <input class="date" type="datetime-local" name="start_of_visit" ng-model="visitsCtrl.newVisit.start_of_visit"/><br/><br/> End Date
  <input class="date" type="datetime-local" name="end_of_visit" ng-model="visitsCtrl.newVisit.end_of_visit"/><br/><br/> Protocol
  <input type="text" name="protocol" placeholder="Protocol Short Name" ng-model="visitsCtrl.newVisit.protocol"/><br/><br/> Subject ID
  <input type="text" name="subject_id" placeholder="Subject ID" ng-model="visitsCtrl.newVisit.subject_id"/><br/><br/> Reason for Visit
  <input type="text" name="reason_for_visit" placeholder="Visit Reason" ng-model="visitsCtrl.newVisit.reason_for_visit"/><br/><br/> <!-- Message
  <input type="text" name="message" placeholder="message" ng-model="visitsCtrl.newVisit.message"/>  -->Priority
  <select ng-model="visitsCtrl.newVisit.priority" name="priority">
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>

  <br/><br/>
  Notification
  <input type="text" name="notification" placeholder="notification" ng-model="visitsCtrl.newVisit.notification"/>
  <br/><br/>
<button ng-click="visitsCtrl.createVisit()">Add New Visit</button>
</form>

  </div>
</div>
</body>
</html>

<!-- visitctrl.deletevisit....with id (visit.id) --> <!-- leads to ctrl action that does delete -->
